* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


/* Start of Homepage */

#homepage {
    /* visibility: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 
.homepage-title {
    font-size: 3em;
    font-weight:normal;
    margin: 50px;
    padding:0px;
    text-align:center;
}

.start-button {
    width: 180px;
    height: 80px;
    margin-top: 100px;
    font-size: 2em;
    font-weight: bold;
    color: white;
    border-radius: 10%;
    background-color: #4B946A;
}

/* End of homepage */

/* Start of Registration Page */
#registration-page {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

.registration-page-title {
    position: relative;
    margin-top: 5%;
    text-align: center;
    font-size: 3rem;
    color: blueviolet;
}

.registration-form {
    width: 85%;
    height: 50%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nickname-form {
    width: 100%;
}

label {
    font-size: 20px;
}

.input-field {
    border: 1px solid black;
    background-color: lightgrey;
    width: 100%;
    height: 30px;
    /* height: 3%; */
    margin-top: 5px;
    margin-bottom: 5px;
    align-self: center;
    font-size: 20px;
}

.options {
    margin-bottom: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.submit-button {
    margin-top: 30px;
    width: 120px;
    height: 30px;
    font-size: 100%;
}

.manual {
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

.player-chase-level1{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(128, 255, 128);
    border: 4px solid orange;
}

.player-hide-level1{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(128, 255, 128);
}

.player-chase-level2{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(51, 51, 255);
    border: 4px solid orange;
}

.player-hide-level2{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(51, 51, 255);
}

.player-chase-level3{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 0);
    border: 4px solid orange;
}

.player-hide-level3{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color:  rgb(255, 255, 0);
}

/* End of Registration Page */

/* Start of gameroom page */
#gameroom-page {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10%;
    position: relative;
}

.exit-button{
    width: 60px;
    height: 30px;
    background-color: rgb(255, 26, 26);
    color: aliceblue;
    font-weight: bold;
    font-size: 100%;
}

.backpack{
    height: 10%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    visibility: hidden;
    position: relative;
}

.playground{
    height: 50%;
    width: 90%;
    background-color:  #C3E89A;
    position: relative;
}

#bar{
    margin-top: 1%;
    height: 3%;
    width: 90%;
    background-color: #E4E7E1;
}

.time {
    width: 100%;
    height: 99%;
    background-color: cornflowerblue;
}

.controller {
    height: 27%;
    width: 60%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 20% 20% 20%;
    gap: 5px;
    align-items: center; 
    justify-content: center;
    text-align: center;
    justify-items: center;
    position: relative;
    margin-top: 30px;
}

.controller-key {
    border: 1px solid black;
    border-radius: 10%;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catch-button {
    width: 100%;
    padding: 5px;
    height: 100%;
    background-color: gray;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#status-check {
    background-color: rgb(113, 218, 113);
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    color: white;
}

.player {
    font-size: 90%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50%;
    width: 10%;
    height: 10%;
}


#paralysed{
    display: none;
    flex-direction: column;
    width: 90%;
    height: 27%;
    justify-content: start;
    margin-top: 2%;
}

#paralysedTimeBar{
    margin-top: 5%;
    height: 10%;
    width: 100%;
    background-color: #E4E7E1;
}